/*Typography*/

h1 {
    font-family: 'Josefin Sans', sans-serif;
  }

p, a {
    font-family: 'Open Sans', sans-serif;
  }

p {
    margin-bottom: 30px;
    font-size: 14px;
    color: #b8d836;
}

/* Layout */